<div class="flex flex-col items-center justify-center flex-1 w-full h-screen p-6 rounded-lg shadow-md bg-gray-50 ">
  <h1 class="text-4xl font-bold text-purple-800">Pages#dashboard</h1>
  <p>Find me in app/views/pages/dashboard.html.erb</p>
</div>
