<div class = "flex flex-row w-full min-h-screen gap-4 px-4 py-4 bg-green-100">

  <%# items tab %>
  <div class="flex-1 w-full p-6 bg-white rounded-lg shadow-md ">

    <%# category row %>
<div class="flex flex-row items-center w-full p-6 bg-purple-100 rounded-lg shadow-lg justify-evenly ">

   <%# Shirt button %>
  <span class="flex items-center gap-2 p-2 text-lg font-semibold border border-purple-500 rounded-lg cursor-pointer hover:bg-purple-200 felx-row justify-evenly">
    <span class="text-lg text-purple-500">Shirts</span>
    <span class="text-sm text-purple-500">
      <svg class="w-6 h-6 text-purple-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M5.833 5a5 5 0 0 1 3-1h6.334a5 5 0 0 1 3 1L21.1 7.2a1 1 0 0 1 .268 1.296l-2 3.5a1 1 0 0 1-1.382.361l-.986-.59V19a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-7.234l-.985.591a1 1 0 0 1-1.383-.36l-2-3.5A1 1 0 0 1 2.9 7.2L5.833 5ZM14 5h-4c0 .425.223.933.645 1.355.422.423.93.645 1.355.645.425 0 .933-.222 1.355-.645.423-.422.645-.93.645-1.355Z" clip-rule="evenodd"/>
</svg>

    </span>
    </span>


   <%# pants button %>
  <span class="flex items-center gap-2 p-2 text-lg font-semibold border border-purple-500 rounded-lg cursor-pointer hover:bg-purple-200 felx-row justify-evenly">
    <span class="text-lg text-purple-500">Pants</span>
    <span class="text-sm text-purple-500">
       <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-800 dark:text-white" viewBox="0 0 256 256"><path fill="currentColor"
        d="m53.44 43.5l.68-5.5A16 16 0 0 1 70 24h116a16 16 0 0 1 15.88 14l.68 5.49a4 4 0 0 1-4 4.5H57.41a4 4 0 0 1-3.97-4.49ZM169 64a32.06 32.06 0 0 0 31 24h3.59a4 4 0 0 0 4-4.5l-2-16a4 4 0 0 0-4-3.5ZM52.41 88H56a32.06 32.06 0 0 0 31-24H54.41a4 4 0 0 0-4 3.5l-2 16a4 4 0 0 0 4 4.5Zm171.47 126l-13.32-106.5a4 4 0 0 0-4-3.5H200a48.07 48.07 0 0 1-47.32-40H136v39.73a8.18 8.18 0 0 1-7.47 8.25a8 8 0 0 1-8.53-8V64h-16.68A48.07 48.07 0 0 1 56 104h-6.59a4 4 0 0 0-4 3.5L32.12 214a16 16 0 0 0 6.71 15.09a16.56 16.56 0 0 0 9.56 2.91h40.3a16 16 0 0 0 15.51-12.06l23.8-92l23.79 91.94A16 16 0 0 0 167.31 232h40.3a16.54 16.54 0 0 0 9.56-2.89a16 16 0 0 0 6.71-15.11Z"/>
        </svg>

    </span>
    </span>

   <%# sneakers button %>
  <span class="flex items-center gap-2 p-2 text-lg font-semibold border border-purple-500 rounded-lg cursor-pointer hover:bg-purple-200 felx-row justify-evenly">
    <span class="text-lg text-purple-500">Sneakers</span>
    <span class="text-sm text-purple-500">
       <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-800 dark:text-white" viewBox="0 0 24 24"><g fill="none">
        <path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="currentColor" d="M18.026 3.902a1 1 0 0 0-.717-.489c-.41 0-.853.324-1.327.673c-.117.086-.236.173-.357.258c-.542.377-1.164.72-1.696.828c-.83.17-1.783-.069-2.547-.41c-.87-.401-1.373.522-1.762 1.236c-.073.133-.142.26-.208.369c-.29.473-.655 1.037-1.07 1.606a1 1 0 0 0-1.04 1.313c-.308.378-.6.74-.877 1.087A1 1 0 0 0 5.29 11.84c-1.072 1.433-1.81 2.598-2.236 3.635c-.36.88-.514 1.703-.447 2.542c.067.827.342 1.597.727 2.376c.522 1.055 1.802 1.344 2.739.803l14.722-8.5a2 2 0 0 0 .732-2.732l-.5-.866l-6.062 3.5a1 1 0 0 1-1-1.732l6.062-3.5l-2-3.464Z"/></g>
       </svg>

    </span>
    </span>

   <%# man shoe button %>
  <span class="flex items-center gap-2 p-2 text-lg font-semibold border border-purple-500 rounded-lg cursor-pointer hover:bg-purple-200 felx-row justify-evenly">
    <span class="text-lg text-purple-500">Men Shoes</span>
    <span class="text-sm text-purple-500">
       <svg xmlns="http://www.w3.org/2000/svg"  class="w-6 h-6 text-purple-800 dark:text-white" viewBox="0 0 64 64">
        <path fill="#800080" d="M4.7 13.5C2.1 13.3 2 18.6 2 21.2c.1 4.8 12.1 14.5 13.9 14.3c1.3-.1 2.8-1.8 4.7-1.5c0 0-11-20.2-15.9-20.5m18 19.5c-2.7 2.7-.7 13.3 1.7 16.3C30 56.2 46 62 54.1 62c3.9 0 7.4-1.9 7.8-5.2c.6-4.6-3.2-12.8-8.2-15.6c-7.4-4.1-25.2-14.3-31-8.2"/><path fill="#800080" d="M7.4 2.6C4.2 5.4 2.8 14.8 3.9 18.8c1.2 4.3 10.7 9 13.2 12.6c2.7 3.8 4.7 13.6 8.3 16.5C31.9 53.4 50 60.6 58 57.7C69.3 53.5 41.8 21.9 31.2 15C25 11 11.4-.9 7.4 2.6"/>
        <path fill="#fff" d="M25.9 45.8c2.8 1.9 5.8 3.5 8.9 4.9c3.1 1.4 6.3 2.6 9.5 3.5c1.6.5 3.3.9 4.9 1.1c1.6.3 3.3.4 4.9.2c1.6-.2 3.1-.8 3.4-2.1c.4-1.3 0-2.9-.6-4.4c-.2-.5 0-1 .5-1.2c.5-.2 1 0 1.2.5c.3.8.6 1.7.7 2.6c.1.9.1 1.9-.3 2.9s-1.2 1.8-2.1 2.2c-.9.4-1.8.6-2.7.7c-1.8.1-3.5-.1-5.2-.4c-1.7-.3-3.4-.8-5-1.4c-3.3-1.1-6.4-2.4-9.5-4c-2.9-1.4-5.9-3.1-8.6-5.1M15 29.2C22.7 40.7 26.9 42 32.6 44c1.7.6 5.7 1.1 7.2 0c1.6-1.2 1.8-7.8 1.8-7.8s7.8 4.4 9.8 2.9c2.1-1.6-9-14.2-9-14.2s3 4.3 1.8 4.7C38 31.7 33.3 17.8 31 14.9c-.7-.9-2-2.2-3.1-2.2c-1.6-.1-7 .9-6.9 2.5c.1 1.3 3.1-.6 4.2.2c2.9 2.2 7.7 10.3 7.4 13.9c-.2 2.4-4.8 9-7.2 9.4C24 39 15 29.2 15 29.2"/><path fill="#a6876c" d="M8.2 2.8C6.1 4.1 7 10.3 8 12.6c.8 1.7 3.9 4.5 5.7 5c2.6.7 10.5-3.6 10.5-3.6s5.2 1.4 4.2.5C25.3 11.4 11 1.1 8.2 2.8"/>
        <g fill="#800080"><path d="M58.6 39.4h-.2c-.2 0-5.3-1-8.3-4.6c-2.1-2.5-3.3-5.4-4.4-8.2c-1.6-3.9-3.1-7.7-7.2-9.9c-1.9-1.1-4.1-.4-4.1-.4c-.5.2-1.1-.1-1.3-.6c-.2-.5.1-1.1.6-1.3c.1 0 3-1 5.7.5c4.7 2.6 6.4 6.8 8.1 10.9c1.1 2.6 2.2 5.4 4.1 7.7c2.5 3 7.1 3.9 7.1 3.9c.5.1.9.6.8 1.2c0 .5-.4.8-.9.8"/>
        <path d="M29.5 30.2c-.2 0-.4-.1-.6-.2c-.4-.3-.5-1-.2-1.4c2.1-2.7 7.6-5.9 13.4-3c.5.2.7.8.5 1.3c-.2.5-.8.7-1.3.5c-5.3-2.6-9.8 1-11 2.5c-.2.1-.5.3-.8.3"/><path d="M27.3 26.9c-.2 0-.4-.1-.6-.2c-.4-.3-.5-1-.2-1.4c2.1-2.7 7.6-5.9 13.4-3c.5.2.7.8.5 1.3c-.2.5-.8.7-1.3.5c-5.3-2.6-9.8 1-11 2.5c-.2.1-.5.3-.8.3"/><path d="M25 23.5c-.2 0-.4-.1-.6-.2c-.4-.3-.5-1-.2-1.4c2.1-2.7 7.6-5.9 13.4-3c.5.2.7.8.5 1.3c-.2.5-.8.7-1.3.5c-5.3-2.6-9.8 1-11 2.5c-.2.2-.5.3-.8.3"/><path d="M22.9 20.9c-.2 0-.4-.1-.6-.2c-.4-.3-.5-1-.2-1.4c2.1-2.7 7.6-5.9 13.4-3c.5.2.7.8.5 1.3c-.2.5-.8.7-1.3.5c-5.3-2.6-9.8 1-11 2.5c-.2.2-.5.3-.8.3"/><path d="M20.7 18c-.2 0-.4-.1-.6-.2c-.4-.3-.5-1-.2-1.4c2.1-2.7 7.6-5.9 13.4-3c.5.2.7.8.5 1.3c-.2.5-.8.7-1.3.5c-5.3-2.6-9.8 1-11 2.5c-.2.2-.5.3-.8.3"/><path d="M15.8 56.2c-3.7 0-7.4-1.2-7.6-1.3c-.5-.2-.8-.7-.6-1.3s.7-.8 1.3-.6c2.2.7 8.7 2.2 11.2.1c2.9-2.4 2-6.1.1-12c-1.8-5.7-3.7-12.1-1.2-18.7c.6-1.5 2.3-7.1 2.3-7.2c.2-.5.7-.8 1.2-.7c.5.2.8.7.7 1.2c-.1.2-1.7 5.7-2.3 7.3c-2.3 6-.4 12 1.3 17.4c1.7 5.6 3.4 10.9-.8 14.2c-1.5 1.3-3.5 1.6-5.6 1.6"/></g>
        </svg>

    </span>
    </span>
   <%# lady shoe button %>
  <span class="flex items-center gap-2 p-2 text-lg font-semibold border border-purple-500 rounded-lg cursor-pointer hover:bg-purple-200 felx-row justify-evenly">
    <span class="text-lg text-purple-500">Lady Shoes</span>
    <span class="text-sm text-purple-500">
        <svg xmlns="http://www.w3.org/2000/svg"  class="w-6 h-6 text-purple-800 dark:text-white" viewBox="0 0 64 64"><path fill="currentColor" d="M46.845 45.83c-11.879-6.931-13.63-9.603-20.83-24.588l-.267-.554C18.123 4.823 15.278 2 9.794 2C3.796 2 .011 14.429 3.103 22.762c2.966 7.99 3.525 13.188 3.525 33.872l2.448.533l3.94-.728s-.854-12.063 1.318-17.761c1.4 2.325 3.268 5.625 5.694 10.278C26.137 60.664 32.058 62 37.943 62h21.753C60.847 61.757 62 60.977 62 57.909c0-2.731-5.124-6.227-15.155-12.079M9.864 3.847c3.555.017 6.32 1.294 14.17 17.626l.267.553c6.613 13.766 8.621 17.944 18.579 23.727c-2.137.167-6.093 1.679-6.093 1.679c-8.364-5.86-14.548-17.552-18.024-25.022c-1.104-2.372-2.059-4.421-2.885-5.798c-1.977-3.293-4.658-4.449-7.329-4.782c-.945-2.577-1.185-5.711-.337-7.098c.183-.3.553-.715 1.652-.885m1.207 42.834c-.186 3.266-.109 6.407-.031 8.243l-2.032.336l.034-13.474c.216-4.331.719-7.97 1.793-8.291c0 0 .679.7 2.313 3.262c-1.137 2.087-1.814 5.346-2.077 9.924m.768-26.112c-1.095-2.52-2.056-4.76-2.837-6.747c2.147.265 3.913 1.507 5.243 3.722c.776 1.293 1.711 3.303 2.794 5.628c3.526 7.578 8.822 18.924 17.451 25.113c-8.93 2.265-12.558-4.518-22.651-27.716"/>
        </svg>

    </span>
    </span>
 
  </div>

   <%# list of the selected items %>

 <style>
  /* Card uses background-image so overlays always sit on top */
  #card {
    /* your original clip-path + a fallback polygon for browsers that don't support xywh */
    clip-path: xywh(0 5px 100% 100% round 20% 0);
   
    /* background settings */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    
  }
#card:hover {
    /* on hover, scale the card up a bit */
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }


  /* small helper to ensure the overlay is above everything */
  #card .caption {
    z-index: 20;
  }
</style>

<div class="flex flex-row flex-wrap max-w-full max-h-screen gap-4 p-2 overflow-x-auto bg-gray-50">
  <!-- Card as a background-image block (use div, not span) -->
  <div id="card"
       class="relative overflow-hidden shadow-md w-60 h-72"
       style="background-image: url('https://i.pinimg.com/564x/c1/1d/16/c11d164de692594acf53c9a855093139.jpg')">
       
    <!-- optional translucent overlay to help text readability (remove if you don't want it) -->
     <div class="absolute top-0 z-20 p-2 font-semibold text-center text-white rounded-lg w-15 right-2 caption bg-black/40">
     $20.00
    </div>

    
  </div>
  <!-- Card as a background-image block (use div, not span) -->
  <div id="card"
       class="relative overflow-hidden shadow-md w-60 h-72"
       style="background-image: url('https://d2fy0k1bcbbnwr.cloudfront.net/Designs_Inners_and_Outers/Tshirts/Men/tshirt_hs_men_pat_d48_o.jpg')">
       
    <!-- optional translucent overlay to help text readability (remove if you don't want it) -->
     <div class="absolute top-0 z-20 p-2 font-semibold text-center text-white rounded-lg w-15 right-2 caption bg-black/40">
     $22.40
    </div>

    
  </div>
  <!-- Card as a background-image block (use div, not span) -->
  <div id="card"
       class="relative overflow-hidden shadow-md w-60 h-72"
       style="background-image: url('https://d2fy0k1bcbbnwr.cloudfront.net/Designs_Inners_and_Outers/Tshirts/Men/tshirt_hs_men_pat_d48_o.jpg')">
       
    <!-- optional translucent overlay to help text readability (remove if you don't want it) -->
     <div class="absolute top-0 z-20 p-2 font-semibold text-center text-white rounded-lg w-15 right-2 caption bg-black/40">
     $22.40
    </div>

    
  </div>
  <!-- Card as a background-image block (use div, not span) -->
  <div id="card"
       class="relative overflow-hidden shadow-md w-60 h-72"
       style="background-image: url('https://d2fy0k1bcbbnwr.cloudfront.net/Designs_Inners_and_Outers/Tshirts/Men/tshirt_hs_men_pat_d48_o.jpg')">
       
    <!-- optional translucent overlay to help text readability (remove if you don't want it) -->
     <div class="absolute top-0 z-20 p-2 font-semibold text-center text-white rounded-lg w-15 right-2 caption bg-black/40">
     $22.40
    </div>

    
  </div>
  <!-- Card as a background-image block (use div, not span) -->
  <div id="card"
       class="relative overflow-hidden shadow-md w-60 h-72"
       style="background-image: url('https://d2fy0k1bcbbnwr.cloudfront.net/Designs_Inners_and_Outers/Tshirts/Men/tshirt_hs_men_pat_d48_o.jpg')">
       
    <!-- optional translucent overlay to help text readability (remove if you don't want it) -->
     <div class="absolute top-0 z-20 p-2 font-semibold text-center text-white rounded-lg w-15 right-2 caption bg-black/40">
     $22.40
    </div>

    
  </div>
  <!-- Card as a background-image block (use div, not span) -->
  <div id="card"
       class="relative overflow-hidden shadow-md w-60 h-72"
       style="background-image: url('https://d2fy0k1bcbbnwr.cloudfront.net/Designs_Inners_and_Outers/Tshirts/Men/tshirt_hs_men_pat_d48_o.jpg')">
       
    <!-- optional translucent overlay to help text readability (remove if you don't want it) -->
     <div class="absolute top-0 z-20 p-2 font-semibold text-center text-white rounded-lg w-15 right-2 caption bg-black/40">
     $22.40
    </div>

    
  </div>
  <!-- Card as a background-image block (use div, not span) -->
  <div id="card"
       class="relative overflow-hidden shadow-md w-60 h-72"
       style="background-image: url('https://nobero.com/cdn/shop/files/og.jpg?v=1744007258')">
       
    <!-- optional translucent overlay to help text readability (remove if you don't want it) -->
     <div class="absolute top-0 z-20 p-2 font-semibold text-center text-white rounded-lg w-15 right-2 caption bg-black/40">
     $21.10
    </div>
    
  </div>
   
   
</div>




 
 
 
  </div>

  

  <%# Details tab %>
  <div class="max-w-2xl p-6 bg-white rounded-lg shadow-md w-200 ">
    <div class = "max-w-full bg-gray-100 shadow-md h-120">
         <img class="w-full h-full rounded-md" src="https://d2fy0k1bcbbnwr.cloudfront.net/Designs_Inners_and_Outers/Tshirts/Men/tshirt_hs_men_pat_d48_o.jpg"/>
       
    </div>

    <%# descriptions %>

    <div class="flex flex-row flex-wrap gap-5 mt-5 mb-10">
      <%# tabs %>
      <span class="flex flex-col w-1/4 p-4 bg-white rounded-lg shadow-md">
       <p class = "flex flex-row items-center justify-center text-lg text-3xl font-bold text-gray-400 ">
        Price
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-1 size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
</svg>

        </p>
      <p class = "text-sm text-gray-400">
        <ul class="flex flex-row flex-wrap justify-between gap-3">
          <li class="text-sm text-red-900 line-through">$ 30.00</li>
          <li class="font-bold text-green-500">$ 21.33</li>
           
        </ul>
        
        </p>
      </span>
      <span class="flex flex-col w-1/4 p-4 bg-white rounded-lg shadow-md">
       <p class = "flex flex-row items-center justify-center text-lg text-3xl font-bold text-gray-400 ">
        Colors
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-1 size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
</svg>

        </p>
      <p class = "text-sm text-gray-400">
        <ul class="flex flex-row flex-wrap justify-between gap-3 list-disc">
          <li class="font-bold text-blue-800">Navy</li>
          <li class="font-bold text-amber-500">Amber</li>
           
        </ul>
      </p>
      </span>


      <span class="flex flex-col w-1/4 p-4 bg-white rounded-lg shadow-md">
       <p class = "flex flex-row items-center justify-center text-lg text-3xl font-bold text-gray-400 ">
        Size
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-1 size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
</svg>

        </p>
      <p class = "text-sm text-gray-400">
        <ul class="flex flex-row flex-wrap justify-between gap-3 list-disc">
          <li class="font-bold text-blue-800">S</li>
          <li class="text-amber-500">M</li>
          <li class="text-purple-500">L</li>
          <li class="text-teal-500">XL</li>
           
        </ul>
      </p>
      </span>


       <span class="flex flex-col w-1/4 p-4 bg-blue-100 rounded-lg shadow-md">
       <p class = "text-lg text-3xl font-bold text-blue-400 ">Material</p>
      <p class = "flex flex-row items-center justify-center text-sm text-blue-400">
        Pure Cotton
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-1 text-blue-400 size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 0 0 4.5 4.5H18a3.75 3.75 0 0 0 1.332-7.257 3 3 0 0 0-3.758-3.848 5.25 5.25 0 0 0-10.233 2.33A4.502 4.502 0 0 0 2.25 15Z" />
</svg>

        </p>
      </span>
       <span class="flex flex-col w-1/4 p-4 bg-red-100 rounded-lg shadow-md">
       <p class = "flex flex-row text-lg text-3xl font-bold text-red-600">
        Stock
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-1 text-sm size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
</svg>

        </p>
      <p class = "text-sm text-red-600">23</p>
      </span>
       <span class="flex flex-col w-1/4 p-4 bg-green-100 rounded-lg shadow-md">
       <p class = "text-lg text-3xl font-bold text-green-600 ">
        Free Shipping
        </p>
        <span class = "flex flex-row items-center gap-2 text-sm text-green-600">
        .......................  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
</svg>
          </span>

       
      </span>
      
    </div>

    <span class="w-full mt-20 text-2xl font-semibold text-gray-800">Description</span>
    <p class="mt-5 text-sm text-gray-400">
      This is a high-quality t-shirt made from 100% pure cotton. It is designed for comfort and style, making it perfect for everyday wear. The fabric is soft and breathable, ensuring you stay comfortable all day long. The t-shirt features a classic fit with a round neckline and short
      sleeves. It is available in various sizes and colors to suit your personal style. Whether you're dressing up for a casual outing or lounging at home, this t-shirt is a versatile addition to your wardrobe.
    </p>
    <p class="mt-5 text-sm text-gray-400">
      The t-shirt is machine washable and easy to care for, making it a practical choice for your daily routine. Its durable construction ensures it will withstand regular wear and tear, maintaining its shape and
      color over time. With its timeless design and comfortable fit, this t-shirt is a must-have for anyone looking to enhance their casual wardrobe.
    </p>  

    <button class="w-full px-4 py-2 mt-10 text-lg font-semibold text-white bg-purple-600 rounded-lg hover:bg-purple-700">
      Add to Cart
    </button>
    
  </div>
</div>
