<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <header>
    <h1>Admin Panel</h1>
    <% if admin_signed_in? %>
      <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
    <% end %>
  </header>

  <%= yield %>
</body>
</html>
